*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
html {
    /* resetting font size to 10px makes rem math much easier*/
    font-size: 10px;
    box-sizing: border-box;
    margin: 10px;
    font-family: sans-serif;

}

body{
    width: 100%;
    /*background: corals;*/

}

img{
    max-width: 32px;
}

nav{
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    min-height: 4vh;
    background: #292c32;
    background: #000;
    padding-left: 11px;
    margin-bottom: 15px;
}
.nav-wrapper{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items:center ;

}

.github-logo{
    margin-right: 45px;
}

.nav-wrapper ul{
    display: flex;
    justify-content:space-around;
    align-items:center ;
    flex-basis: 350px;

}
.nav-links li{
    color:white;
    font-size: 1.3rem;
font-weight: bold;
    /*padding:0 5px ;*/
}
/*secondary nav*/
.top-grey-header{
   padding: 6px;
    background: #fafbfc;
    border-bottom: #292c32 1px solid;
}
.secondary-logo{
    display: flex;
    justify-content:flex-start;
    align-items:center ;
    padding-left: 10px;
    margin-bottom: 20px;
}
.secondary-logo img{
    margin-right: 12px;
}
.secondary-logo p{
    font-size: 18px;
}

.top-grey-header ul{
    display: flex;
    justify-content:flex-start;
    align-items:center ;
    padding-left: 15px;

}
.top-grey-header ul li{
font-size: 1.3rem;
    margin-right: 20px;
    color: gray;

}
.top-grey-header-span{
    /*width: 20px;*/
    /*height: 20px;*/
    /*padding: 5px;*/
    /*background: aqua;*/
    /*border-radius: 100%;*/
    position: relative;
    z-index: 77;
    margin-left: 5px;

}
.top-grey-header-span::after{
    content: "";
    position: absolute;
    background: lightgray;
    width: 15px;
    height: 15px;
    /*top: 0;*/
    left: -50%;
    /*right: 0;*/
    /*bottom: 0;*/
    transform: translatex(50%);
    border-radius: 50%;
    z-index: -1;
}